@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

html {
  --bg-1: white;
  --bg-2: #f9f9f9;
  --text-1: #102a42;
  --text-2: #787878;
  --text-3: #ffffff;
  --accent-1: #0c99ff;
  --accent-2: #4949e1;
  --danger-1: #ff8d8d;
  --danger-2: #751313;
  --success-1: #57b894;
  --success-2: #359773;
  --shadow-1: #424656;
  --bg-gradient-1: #ffffff;
  --bg-gradient-2: #ece9e6;

  // other variables
  --container: clamp(280px, 90%, 1200px);
  --heroHeading: 2.5rem;
  --sectionHeading: 1.75rem;
  --radius: 0.5rem;
  --radiusLG: 1.5rem;
  .show-dark {
    display: none;
  }
  header .theme-button {
    margin-left: auto;
    margin-right: 2rem;
    user-select: none;
    cursor: pointer;
    img {
      width: 2.25rem;
      transition: all 0.3s ease;
    }
    .day {
      transform: translateX(1rem);
    }
    .night {
      opacity: 0.25;
      transform: scale(0.9);
    }
  }
}

html.dark-mode {
  --bg-1: #0a0a23;
  --bg-2: #001a2c;
  --text-1: #e7f5ff;
  --text-2: #c4d2dc;
  --text-3: #ffffff;
  --accent-1: #3dadff;
  --accent-2: #3dadff;
  --danger-1: #ff8d8d;
  --danger-2: #751313;
  --success-1: #57b894;
  --success-2: #359773;
  --shadow-1: #121212;
  --bg-gradient-1: #001a2c;
  --bg-gradient-2: #0a0a23;
  .show-light {
    display: none;
  }
  .show-dark {
    display: unset;
  }

  header .theme-button {
    .day {
      transform: translateX(1rem) scale(0.9);
      opacity: 0.25;
    }
    .night {
      opacity: 1;
      transform: scale(1);
    }
  }
  .quotation-mark {
    span {
      opacity: 0.5;
    }
  }
}

#root {
  @include flexCenter(column);
  width: 100%;
  min-height: 100vh;
  color: var(--text-1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-1);
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg-1);
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.projects-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50rem;
  background: linear-gradient(
    to left,
    var(--bg-gradient-1),
    var(--bg-gradient-2)
  );
  clip-path: polygon(0% 0%, 0% 100%, 120% 100%);
  rotate: 180deg;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  .header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container);
    padding: 0.5rem 0;
    padding-top: 2rem;
    margin: 0 auto;
  }
  &.sticky {
    position: fixed;
    background-color: var(--bg-2);
    animation: slideFromTop 0.15s ease-in forwards,
      fadeIn 0.25s ease-in forwards;
    .header-center {
      padding-top: 0.5rem;
    }
  }

  .logo {
    width: 3rem;
  }
  .menu-btn {
    display: none;
  }
  .close-menu-btn {
    display: none;
  }
  .theme-button {
    font-size: 10px;
    margin-left: auto;
    margin-right: 2rem;
    color: var(--text-1);
    user-select: none;
    cursor: pointer;
  }
}

nav {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0rem;
  gap: 2rem;
  a {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    &:last-of-type {
      padding-right: 0;
    }
    span {
      transition: transform 0.3s ease;
      font-size: 1.5rem;
      position: absolute;
      transform: translateX(-100%);
    }
    &::after {
      content: "";
      width: 100%;
      height: 1.5px;
      border-radius: 1rem;
      background-color: var(--text-1);
      position: absolute;
      bottom: 0;
      transform: translateX(-101%);
      transition: all 0.3s ease;
      opacity: 0.5;
    }
    &::before {
      content: "";
      width: 100%;
      height: 1.5px;
      border-radius: 1rem;
      background-color: var(--accent-1);
      position: absolute;
      bottom: 0;
      transform: translateX(101%);
      transition: all 0.3s ease;
      opacity: 0.1;
    }
    &:hover {
      span {
        transform: translateX(-150%);
      }
      &::after {
        transform: translateX(0%);
        opacity: 1;
      }
      &::before {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: var(--container);
  & > section {
    margin-bottom: 6rem;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  h1 {
    text-align: center;
  }
  // title
  span {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 100%;
    background: linear-gradient(to right, var(--accent-1), var(--accent-2));
    background-clip: text;
    color: transparent;
  }
  // subtitle
  p {
    color: var(--text-2);
    width: 25ch;
    font-weight: 400;
    margin: 0.75rem 0;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  margin-bottom: 6rem;
  background: linear-gradient(
    to right,
    var(--bg-gradient-1),
    var(--bg-gradient-2)
  );
}

.hero-centar {
  width: var(--container);
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -5;
  object-fit: cover;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  &.inside {
    display: none;
  }
  button {
    border: none;
    background: none;
    display: flex;
    position: relative;
    transition: opacity 0.3s ease;
    a {
      transition: all 0.3s ease;
      margin: 0.5rem;
    }
    &:hover {
      a {
        margin: 0.25rem;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
      }
    }
    sub {
      position: absolute;
      right: 2.25rem;
      bottom: 0.5rem;
      font-size: 0.6rem;
    }
  }

  img {
    width: 25px;
  }
}

.resume button > a,
.page-not-found button > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--accent-2);
  border: none;
  color: var(--bg-1);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: var(--radiusLG);
  cursor: pointer;
  letter-spacing: 1px;
}

.page-not-found {
  text-align: center;
  img {
    width: clamp(250px, 80%, 1200px);
  }

  h2 {
    margin: 1rem;
  }

  button {
    border: none;
    background: none;
    margin: 0 auto;
  }
}

.resume button > a {
  &:hover {
    img {
      transform: translateY(0.25rem);
    }
  }
  img {
    transition: transform 0.3s ease;
  }
}

section {
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
    > span {
      position: absolute;
      top: -6rem;
    }
  }
}

.underline {
  display: flex;
  width: 8rem;
  height: 0.25rem;
  border-radius: 1rem;
  margin: 1rem 0;
  z-index: 5;
  background: linear-gradient(to right, var(--accent-1), var(--accent-2));
  background-size: 200% 200%;
  animation: gradientShift 3s ease-in-out infinite;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  z-index: 2;
  .project {
    border-radius: var(--radiusLG);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--bg-2);
    &:hover {
      .image img {
        transform: scale(1.1);
      }
    }
    .image {
      min-height: 200px;
      height: 200px;
      overflow: hidden;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.6s ease;
      }
    }

    .details {
      padding: 2rem;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      max-height: max-content;
      .tech-used {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-2);
        font-size: 0.8rem;
        font-weight: normal;
        max-width: 100%;
      }

      .name {
        text-transform: capitalize;
        font-size: 1.3rem;
        line-height: 100%;
        font-weight: 400;
      }

      .info {
        color: var(--text-2);
        font-size: 0.9rem;
        margin: 0.75rem 0;
        line-height: 1.4;
      }

      .demo-link {
        display: flex;
        align-items: center;
        width: max-content;
        position: relative;
        overflow: hidden;
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--accent-1);
        line-height: 125%;
        margin-bottom: 0;
        margin-top: auto;
        &::after {
          content: "";
          width: 100%;
          height: 1.5px;
          border-radius: 1rem;
          background-color: var(--accent-1);
          position: absolute;
          bottom: 0;
          transform: translateX(-101%);
          transition: all 0.3s ease;
          opacity: 0.5;
        }
        &::before {
          content: "";
          width: 100%;
          height: 1.5px;
          border-radius: 1rem;
          background-color: var(--text-1);
          position: absolute;
          bottom: 0;
          transform: translateX(101%);
          transition: all 0.3s ease;
          opacity: 0.1;
        }
        &:hover {
          span {
            transform: translateX(-150%);
          }
          &::after {
            transform: translateX(0%);
            opacity: 1;
          }
          &::before {
            transform: translateX(0%);
            opacity: 1;
          }
        }
      }

      .repo-link {
        font-size: 3rem;
        color: var(--text-1);
        transition: all 0.3s ease;
        svg {
          border-radius: 50%;
          border: 2px solid transparent;
          transition: all 0.3s ease;
          padding: 2px;
        }
        &:hover {
          transform: scale(0.9);
          svg {
            border: 2px solid var(--text-1);
          }
        }
      }
    }
  }
}

.view-all-projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
  // all projects link
  a {
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--accent-1);
    transform: translateY(-50%);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;

    &:hover {
      img {
        transform: translateX(1rem);
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 1.5px;
      border-radius: 1rem;
      background-color: var(--accent-1);
      position: absolute;
      bottom: 0;
      transform: translateX(-101%);
      transition: all 0.3s ease;
      opacity: 0.5;
    }
    &::before {
      content: "";
      width: 100%;
      height: 1.5px;
      border-radius: 1rem;
      background-color: var(--text-1);
      position: absolute;
      bottom: 0;
      transform: translateX(101%);
      transition: all 0.3s ease;
      opacity: 0.1;
    }
    &:hover {
      span {
        transform: translateX(-150%);
      }
      &::after {
        transform: translateX(0%);
        opacity: 1;
      }
      &::before {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

.all-projects {
  display: flex;
  flex-direction: column;
  margin-top: 12.5rem;
  z-index: 2;
  h2 {
    text-align: center;
  }
  .underline {
    margin: 1rem auto;
  }
}

.technologies {
  .logos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
    max-width: 70ch;
    img {
      max-height: 90px;
      border: 1px solid transparent;
      border-radius: 1rem;
      transition: transform 0.3s ease;
      background: var(--bg-2);
      &:hover {
        transform: scale(1.1) translateY(-0.5rem);
        background: var(--bg-2);
      }
    }
    img[alt~="html"],
    img[alt~="css"],
    img[alt~="javascript"],
    img[alt~="react"],
    img[alt~="vue"] {
      padding: 10px 5px;
    }
    .side-padding {
      padding: 0 1rem;
    }
  }
}

.experience {
  .tile {
    width: 100%;
    display: flex;
    gap: 3.5rem;
    padding: 3rem;
    background: var(--bg-2);
    border-radius: var(--radiusLG);
    margin-bottom: 3rem;
    &:first-of-type {
      margin-top: 3rem;
    }
    &:last-of-type {
      margin-bottom: 0rem;
    }
    aside {
      display: flex;
      flex-direction: column;
      flex: 1.25;
      a {
        margin-bottom: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
      }
      .logo {
        width: 100%;
      }
    }
    .recommendations-mobile {
      display: none;
    }
    .recommendations {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 2rem 0;
      text-align: center;
      font-size: 0.8rem;
      color: var(--text-2);
      div {
        display: flex;
        flex-direction: column;
      }
      i {
        line-height: 150%;
        margin-bottom: 0.5rem;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: 600;
      }
    }
    .quotation-mark {
      display: flex;
      align-items: center;
      gap: 1.75rem;
      font-size: 1.5rem;
      // color: var(--text-2);
      &:last-of-type img {
        transform: rotate(180deg);
      }
      span {
        width: 100%;
        height: 2px;
        background: #d9d9d9;
        border-radius: var(--radiusLG);
      }
    }
    article {
      display: flex;
      flex-direction: column;
      flex: 3;
      h3 {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        b {
          font-weight: 600;
        }
      }
      .period {
        font-size: 0.8rem;
        color: var(--text-2);
      }
      .about {
        margin-bottom: 0;
        margin-top: 2rem;
        h4 {
          position: relative;
          display: flex;
          align-items: center;
          font-size: 1.3rem;
        }
        .underline.vertical {
          transform: rotate(90deg);
          width: 1.8rem;
          height: 0.3rem;
          position: absolute;
          left: -1.8rem;
        }
        p {
          margin: 1rem 0;
          line-height: 175%;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          padding-left: 2rem;
          color: var(--text-2);
          font-size: 0.9rem;
          li {
            line-height: 175%;
          }
        }
      }
    }
  }
}

.technologies p,
.about p,
.experience p {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 70ch;
  // text-align: center;
  color: var(--text-2);
}

footer {
  @include flexCenter(column);
  width: 100%;
  position: relative;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--bg-gradient-1),
    var(--bg-gradient-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--bg-gradient-1),
    var(--bg-gradient-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--text-1);
  padding: 1rem 0;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  margin-top: auto;
  .footer-center {
    width: var(--container);
    z-index: 5;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }

  .contact-info {
    width: 100%;
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      line-height: 100%;
      font-weight: 400;
    }
    ul {
      list-style-type: none;
      font-size: 1rem;
      font-weight: 400;
      a,
      li {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        line-height: 1;
        margin-bottom: 0.5rem;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .banner span {
    font-size: 3.5rem;
  }

  .projects + .section-image a {
    right: 16vw;
  }

  .projects .project .image {
    min-height: 250px;
    height: 250px;
  }
}

@media (max-width: 992px) {
  $transition-duration: 0.25s;

  .header-nav,
  .mobile-nav {
    @include flexCenter(column);
    position: fixed;
    align-items: unset;
    box-shadow: 0 0 5px var(--shadow-1);
    background-color: var(--bg-2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: 10;
    @for $i from 1 through 6 {
      a:nth-child(#{$i}) {
        transition-duration: $i * $transition-duration;
      }
    }
    a {
      margin: 0;
      font-size: 1.25rem;
      transition: transform 1s ease;
      transform: translateX(-100%);
      padding: 1rem 0;
      &::after {
        content: "";
        width: unset;
        height: unset;
        border-radius: unset;
        background-color: var(--text-1);
        position: absolute;
        bottom: 0;
        transform: translateX(-101%);
        transition: all 0.3s ease;
        opacity: 0.5;
      }
      &::before {
        content: "";
        width: unset;
        height: unset;
        border-radius: unset;
        background-color: var(--accent-1);
        position: absolute;
        bottom: 0;
        transform: translateX(101%);
        transition: all 0.3s ease;
        opacity: 0.1;
      }
      &:hover {
        span {
          transform: translateX(-150%);
        }
        &::after {
          transform: translateX(0%);
          opacity: 1;
        }
        &::before {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }

    // menu open
    &.active {
      transform: translateX(0);
      a {
        transform: translateX(0);
      }
    }

    .close-menu-btn {
      border: none;
      background: none;
      display: flex;
      padding: 1rem;
      font-size: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      color: inherit;
      cursor: pointer;
      z-index: 10;
      .icon {
        pointer-events: none;
      }
    }
  }

  body.disable-scroll {
    overflow: hidden;
  }

  header {
    .header-center {
      padding: 0.5rem 0;
    }
    &.sticky .header-center {
      padding-top: 0.5rem;
    }
    .menu-btn {
      display: flex;
      border: none;
      background: none;
      font-size: 3rem;
      color: inherit;
      cursor: pointer;
      padding: 0.5rem 1rem;
      padding-right: 0;
      font-weight: 300;
    }
  }

  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 2rem;
    margin: 3rem 0;
  }

  .view-all-projects {
    grid-column: 1 / 3;
    margin-top: 3rem;
  }

  .banner {
    flex-direction: column;
    h1 {
      margin-bottom: 2rem;
      span {
        font-size: 4.5rem;
      }
    }
    .image {
      text-align: center;
      img {
        width: 70%;
      }
    }
  }
  nav a {
    justify-content: center;
    align-items: center;
    width: 100%;
    span {
      font-size: 2rem;
      display: flex;
    }
  }

  .projects + .section-image a {
    right: 12vw;
    font-size: 1.5rem;
  }

  footer {
    width: 100%;
    position: relative;
    color: var(--text-1);
    padding: 1rem 0;
    .footer-center {
      @include flexCenter(column);
      width: var(--container);
      z-index: 5;

      div {
        flex-direction: column;
      }

      nav {
        display: flex;
        flex-direction: column;
        a {
          text-align: center;
          padding: 1rem 0;
          span {
            font-size: 1.5rem;
          }
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      object-fit: cover;
    }

    ul {
      list-style-type: none;
      font-size: 1.25rem;
      font-weight: bold;
      li {
        align-items: center;
        justify-content: center;
        &:last-of-type {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .contact-info {
      order: 2;
      margin: 2rem 0;
      margin-bottom: 0;
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 100%;
        text-align: center;
      }
    }
    .copyright {
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .image {
      img {
        width: 100%;
      }
    }
  }
  .resume {
    margin-top: 1.25rem;
    &.outside {
      display: none;
    }
    button,
    select {
      text-align: center;
    }
  }

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    .tech-used {
      flex-direction: column;
      justify-content: baseline !important;
      align-items: baseline !important;
      margin-bottom: 1rem;
      span {
        order: 2;
      }
    }
  }

  .view-all-projects {
    grid-column: 1 / 1;
    margin-top: 3rem;
  }

  .projects + .section-image a {
    right: 9vw;
    font-size: 1.5rem;
    img {
      width: 105%;
    }
  }

  .technologies {
    .logos-wrapper {
      flex-direction: column;
      gap: 2vh;
      .row {
        margin: 0 auto;
        .logo {
          max-width: 100px;
          width: unset;
        }
      }
    }
  }

  .experience {
    .tile {
      flex-direction: column;
      padding: 2rem;
      gap: 1.5rem;
      margin-bottom: 2rem;
      aside {
        a {
          margin-bottom: 0;
        }
      }
      .recommendations-mobile {
        display: block;
        margin-top: 2rem;
      }
      .recommendations-desktop {
        display: none;
      }
      article {
      }
    }
  }

  .technologies p,
  .about p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  html,
  html.dark-mode {
    header .theme-button {
      margin-right: 0rem;
    }
  }
  .page-not-found {
    text-align: center;

    h2 {
      font-size: 6vw;
    }
  }

  header > .header-center {
    padding: 0.5rem 0;
    padding-top: 1rem;
  }

  .banner {
    gap: 2vh;
    h1 {
      margin-top: 4vh;
      span {
        font-size: 13vw;
      }
      p {
        font-size: 4.5vw;
        margin-top: 1rem;
      }
      button {
        margin-top: 0;
        a {
          font-size: 1rem !important;
        }
      }
    }
  }

  section h2 {
    font-size: 1.3rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    .tech-used {
      flex-direction: column;
      justify-content: baseline !important;
      align-items: baseline !important;
      margin-bottom: 1rem;
      span {
        order: 2;
      }
    }
  }

  .projects + .section-image a {
    right: 10vw;
    font-size: 1.5rem;
  }

  .experience {
    .tile {
      gap: 1rem;
      padding: 1.5rem;
      margin-top: 2rem;
      aside {
        display: flex;
        flex-direction: column;
        flex: 1.25;
        a {
          margin-bottom: 0rem;
        }
      }
      .recommendations-mobile {
        margin-top: 1rem;
      }
      .recommendations {
        gap: 1rem;
        margin: 1rem 0;
        text-align: center;
        font-size: 0.6rem;
        i {
          line-height: 150%;
          margin-bottom: 0.5rem;
        }
      }
      .quotation-mark {
        gap: 1rem;
        font-size: 1rem;
        img {
          width: 2rem;
        }
      }
      article {
        h3 {
          margin-bottom: 0.25rem;
          font-size: 0.8rem;
          b {
            font-weight: 600;
          }
        }
        .period {
          font-size: 0.6rem;
        }
        .about {
          margin-top: 1.25rem;
          h4 {
            font-size: 0.9rem;
          }
          .underline.vertical {
            width: 1.5rem;
            left: -1.5rem;
          }
          p {
            margin: 0.5rem 0;
            font-size: 0.7rem;
          }
          ul {
            gap: 0.5rem;
            padding-left: 1rem;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .projects {
    .project {
      .image {
        min-height: 250px;
        height: 250px;
      }
      .name {
        font-size: 5vw !important;
      }
    }
    & + .section-image {
      > img {
        display: none;
      }
      a {
        font-size: 1.5rem;
        img {
          width: 105%;
        }
      }
    }
  }
}
